<section class="section-colors">
    <div class="section-div1">
        <div class="section-div2">
            <div class="section-div3">
                <h1 class="form-title">
                    Create an account
                </h1>
                <form class="form-style" 
                #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)"
                >

                    <div>
                        <label for="username" class="input-label-style">Username</label>
                        <input type="username" name="username" id="username" placeholder="nickname" 
                        ngModel #usernameInput="ngModel" required 
                        class="input-style focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                    </div>
                    <div>
                        <label for="email" class="input-label-style">Your email</label>
                        <input type="email" name="email" id="email" 
                        class="input-style focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                        placeholder="name@company.com"
                        ngModel #emailInput="ngModel" required 
                        >
                    </div>
                    <div>
                        <label for="password" class="input-label-style">Password</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" 
                        ngModel #passwordInput="ngModel" required 
                        class="input-style focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                    </div>
                    <button type="submit" 
                    [disabled]="registerForm.invalid"
                    class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create an account</button>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Already have an account? 
                        <a routerLink="/login" class="font-medium text-primary-600 hover:underline dark:text-primary-500">
                            Login here
                        </a>
                    </p>
                </form>
            </div>
        </div>
    </div>
  </section>